* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    font-size: 30px;
    text-align: center;
    background-color: palegoldenrod;
    font-weight: bold;
    border-radius: 20px;
}

.section {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}

img {
    border-radius: 5%;
}

p {
    text-shadow: 2px;
}

li {
    font-weight: lighter;
}

div {
    text-align: center;
}